@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i");
.error-box {
  font-size: 11px;
  margin: 5px 0;
  width: 220px; }

ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }

body {
  font-family: "Work Sans", Arial, sans-serif; }
  body header {
    padding: 33px 0;
    background-color: #ffffff; }
    body header .head {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      body header .head .logo img {
        width: 83px;
        height: auto; }
      body header .head .navigation {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        body header .head .navigation .menu ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0; }
          body header .head .navigation .menu ul a {
            color: #565656;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Work Sans", Arial, sans-serif;
            font-size: 14px;
            padding: 0 60px 0 0; }
            body header .head .navigation .menu ul a li i {
              margin-left: 10px;
              color: #ffd942;
              font-size: 14px; }
        body header .head .navigation .search {
          position: relative;
          margin-left: 15px; }
          body header .head .navigation .search a {
            padding-left: 60px;
            position: relative; }
            body header .head .navigation .search a::after {
              content: ' ';
              width: 1px;
              height: 30px;
              background-color: #e8e8e8;
              position: absolute;
              left: 0;
              top: -7px; }
            body header .head .navigation .search a img {
              width: 20px;
              height: 20px; }
    body header .mob-menu {
      display: none; }
      body header .mob-menu ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        list-style: none;
        margin: 0;
        padding: 0; }
        body header .mob-menu ul a {
          color: #565656;
          text-decoration: none;
          text-transform: uppercase;
          margin-top: 15px;
          font-family: "Work Sans", Arial, sans-serif;
          font-size: 14px; }
    body header .pop-up-cont {
      display: none;
      width: 100%;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.7);
      z-index: 10000;
      position: fixed;
      top: 0; }
      body header .pop-up-cont .pop-up {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        top: 0;
        height: 100vh; }
        body header .pop-up-cont .pop-up .form-cont {
          background-color: #ffffff;
          padding: 25px;
          -webkit-border-radius: 10px;
                  border-radius: 10px;
          -webkit-box-shadow: 0px 0px 22px -2px rgba(168, 184, 250, 0.8);
                  box-shadow: 0px 0px 22px -2px rgba(168, 184, 250, 0.8);
          position: relative; }
          body header .pop-up-cont .pop-up .form-cont form {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center; }
            body header .pop-up-cont .pop-up .form-cont form label {
              -webkit-align-self: flex-start;
                  -ms-flex-item-align: start;
                      align-self: flex-start;
              font-size: 12px;
              font-family: "Work Sans", Arial, sans-serif;
              color: #565656; }
            body header .pop-up-cont .pop-up .form-cont form input {
              margin-bottom: 0px;
              width: 220px;
              border-bottom: 1px solid #797979;
              border-top: none;
              border-right: none;
              border-left: none; }
              body header .pop-up-cont .pop-up .form-cont form input:focus {
                outline: none; }
            body header .pop-up-cont .pop-up .form-cont form button.send {
              background-color: rgba(121, 121, 121, 0.8);
              margin-top: 10px;
              border: none;
              color: #ffffff;
              font-size: 16px;
              width: 150px;
              padding: 5px 0;
              -webkit-border-radius: 10px;
                      border-radius: 10px; }
              body header .pop-up-cont .pop-up .form-cont form button.send:hover {
                background-color: #797979; }
              body header .pop-up-cont .pop-up .form-cont form button.send:focus {
                outline: none; }
            body header .pop-up-cont .pop-up .form-cont form button.close {
              background-color: rgba(121, 121, 121, 0.8);
              border: none;
              color: #ffffff;
              font-size: 16px;
              padding: 3px 7px;
              -webkit-border-radius: 10px;
                      border-radius: 10px;
              position: absolute;
              top: -8px;
              right: -8px;
              opacity: 1; }
              body header .pop-up-cont .pop-up .form-cont form button.close:hover {
                background-color: #797979; }
              body header .pop-up-cont .pop-up .form-cont form button.close:focus {
                outline: none; }
  body main .slider {
    color: #ffffff;
    margin: 0;
    padding: 0; }
    body main .slider .slider-item {
      text-align: center;
      padding: 140px 0;
      background-image: url("../img/back.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      body main .slider .slider-item h1 {
        font-size: 72px;
        margin: 20px 0 0 0;
        text-transform: uppercase; }
      body main .slider .slider-item h2 {
        font-size: 16px;
        margin: 0;
        text-transform: uppercase; }
    body main .slider .bx-wrapper {
      margin: 0;
      border: none; }
  body main .main-text {
    padding: 60px 0 0 0; }
    body main .main-text .head-description {
      padding: 0 15px; }
      body main .main-text .head-description h2 {
        margin: 0;
        font-size: 16px;
        color: #333333;
        text-transform: uppercase;
        line-height: 24px; }
      body main .main-text .head-description p {
        font-size: 14px;
        font-weight: 300;
        color: #333333;
        margin: 40px 0;
        line-height: 24px; }
    body main .main-text .geography {
      padding: 0 15px; }
      body main .main-text .geography h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        color: #0f0f0f; }
      body main .main-text .geography p {
        font-size: 14px;
        font-weight: 300;
        margin: 20px 0 48px 0;
        color: #333333;
        line-height: 24px; }
    body main .main-text .italic {
      margin: 0 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-top: 45px;
      position: relative; }
      body main .main-text .italic img {
        margin: 0 30px 0 0; }
      body main .main-text .italic p {
        font-family: "Libre Baskerville", Arial, sans-serif;
        font-size: 16px;
        font-style: italic;
        color: #333333;
        line-height: 30px;
        margin: 0;
        letter-spacing: 0.05em; }
      body main .main-text .italic::before {
        content: ' ';
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: #dddddd;
        top: 0;
        right: 0; }
    body main .main-text .author {
      margin: 30px 15px 45px 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative; }
      body main .main-text .author p {
        margin: 0 0 0 20px;
        color: #797979;
        font-size: 14px;
        line-height: 24px; }
      body main .main-text .author::after {
        content: ' ';
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: #dddddd;
        bottom: -45px;
        right: 0; }
    body main .main-text .islands {
      padding: 50px 0 30px 0; }
      body main .main-text .islands h2 {
        padding: 0 15px;
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        color: #0f0f0f; }
      body main .main-text .islands p {
        padding: 0 15px;
        font-size: 14px;
        font-weight: 300;
        margin: 20px 0 48px 0;
        color: #333333;
        line-height: 24px; }
      body main .main-text .islands table {
        border-bottom: 1px solid #f0f0f0;
        width: 100%; }
        body main .main-text .islands table tr.top {
          padding: 25px 0;
          border-top: 1px solid #f0f0f0;
          border-bottom: 1px solid #f0f0f0; }
          body main .main-text .islands table tr.top td {
            font-size: 12px;
            color: #797979;
            padding: 25px 0; }
        body main .main-text .islands table tr.blue {
          background-color: #fafbfc; }
        body main .main-text .islands table tr td {
          padding: 20px 0;
          font-size: 14px; }
  body main .posts {
    padding: 70px 0 80px 0;
    position: relative; }
    body main .posts::before {
      content: ' ';
      width: 100%;
      height: 1px;
      background-color: #f1f1f5;
      position: absolute;
      top: 0; }
    body main .posts::after {
      content: ' ';
      width: 100%;
      height: 1px;
      background-color: #f1f1f5;
      position: absolute;
      bottom: 0; }
    body main .posts h1 {
      text-align: center;
      margin: 0 0 48px 0;
      text-transform: uppercase;
      font-size: 24px;
      color: #0f0f0f; }
    body main .posts .item {
      margin: 20px 0; }
      body main .posts .item .cont {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-shadow: 0px 0px 22px -2px rgba(168, 184, 250, 0.5);
                box-shadow: 0px 0px 22px -2px rgba(168, 184, 250, 0.5); }
        body main .posts .item .cont .text {
          -webkit-align-self: center;
              -ms-flex-item-align: center;
                      -ms-grid-row-align: center;
                  align-self: center;
          padding-left: 10px; }
          body main .posts .item .cont .text h4 {
            text-transform: uppercase;
            color: #a2a2a2;
            font-size: 12px;
            line-height: 20px;
            margin: 0; }
          body main .posts .item .cont .text p {
            margin: 20px 0 25px 0;
            font-size: 16px;
            line-height: 20px; }
          body main .posts .item .cont .text a {
            text-transform: uppercase;
            font-size: 12px;
            color: #0f0f0f;
            line-height: 20px; }
            body main .posts .item .cont .text a img.arrow {
              width: 11px;
              height: auto; }
        body main .posts .item .cont img {
          width: 185px;
          height: 185px; }
  body footer .bottom-info {
    padding: 40px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    body footer .bottom-info .bottom-menu ul {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      body footer .bottom-info .bottom-menu ul a {
        color: #565656;
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 60px;
        font-family: "Work Sans", Arial, sans-serif;
        font-size: 14px;
        line-height: 36px; }
        body footer .bottom-info .bottom-menu ul a:last-child {
          margin-right: 0; }
    body footer .bottom-info .social ul li {
      margin-right: 16px; }
      body footer .bottom-info .social ul li:last-child {
        margin: 0; }
      body footer .bottom-info .social ul li a img {
        width: 41px;
        height: 41px; }
  body footer .copy p {
    font-size: 14px;
    line-height: 36px;
    color: #b5b5b5;
    text-align: right; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .item .cont .text a img.arrow {
    width: 11px !important;
    height: auto !important; }
  .item .cont img {
    width: 140px !important;
    height: 140px !important; }
  .text p {
    font-size: 11px !important;
    line-height: 20px !important;
    margin: 5px 0 10px 0 !important; } }

@media screen and (max-width: 991px) {
  .menu ul a {
    padding-right: 30px !important; }
  .search a {
    padding-left: 30px !important; }
  .bottom-menu ul a {
    margin-right: 30px !important; } }

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none !important; }
  .hamburger {
    display: none !important; } }

@media screen and (max-width: 767px) {
  header {
    padding: 10px 0 !important; }
  .menu {
    display: none !important; }
  .search a {
    padding-left: 15px !important; }
  .bottom-menu ul a {
    margin-right: 5px !important;
    font-size: 11px !important; }
  .social ul li a img {
    width: 32px !important;
    height: 32px !important; } }

@media screen and (max-width: 520px) {
  tr td {
    font-size: 9px !important;
    padding-left: 5px !important; }
  tr.top td {
    font-size: 7px !important;
    padding-left: 0px !important; }
  .item .cont .text a img.arrow {
    width: 11px !important;
    height: auto !important; }
  .item .cont img {
    width: 140px !important;
    height: 140px !important; }
  .copy p {
    text-align: center !important;
    font-size: 8px !important; }
  .text p {
    font-size: 11px !important;
    line-height: 20px !important;
    margin: 5px 0 10px 0 !important; }
  .posts {
    padding: 30px 0 !important; }
  .bottom-info {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding: 0 !important; }
  .bottom-menu ul a {
    margin-right: 3px !important;
    font-size: 10px !important; } }
