@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700')

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i')

@import 'app/libs/valid/valid'

$accent-font: 'Libre Baskerville', Arial, sans-serif

$font: 'Work Sans', Arial, sans-serif

$main-color: #565656

$main-text-color: #333333

$header-color: #0f0f0f

$accent-color: #797979

$white: #ffffff

$yellow: #ffd942

ul
	list-style: none
	display: flex
	margin: 0
	padding: 0

body
	font-family: $font
	header
		padding: 33px 0
		background-color: #ffffff
		.head
			display: flex
			justify-content: space-between
			align-items: center
			.logo
				img
					width: 83px
					height: auto
			.navigation
				display: flex
				justify-content: space-between
				align-items: center
				.menu
					ul
						display: flex
						list-style: none
						margin: 0
						padding: 0
						a
							color: $main-color
							text-decoration: none
							text-transform: uppercase
							font:
								family: $font
								size: 14px
							padding: 0 60px 0 0
							li
								i
									margin-left: 10px
									color: $yellow
									font-size: 14px
				.search
					position: relative
					margin-left: 15px
					a
						padding-left: 60px
						position: relative
						&::after
							content: ' '
							width: 1px
							height: 30px
							background-color: #e8e8e8
							position: absolute
							left: 0
							top: -7px
						img
							width: 20px
							height: 20px
		.mob-menu
			display: none
			ul
				display: flex
				flex-direction: column
				align-items: center
				list-style: none
				margin: 0
				padding: 0
				a
					color: $main-color
					text-decoration: none
					text-transform: uppercase
					margin-top: 15px
					font:
						family: $font
						size: 14px
		.pop-up-cont
			display: none
			width: 100%
			height: 100vh
			background-color: rgba(255, 255, 255, 0.7)
			z-index: 10000
			position: fixed
			top: 0

			.pop-up
				display: flex
				justify-content: center
				align-items: center
				top: 0
				height: 100vh
				.form-cont
					background-color: $white
					padding: 25px
					border-radius: 10px
					box-shadow: 0px 0px 22px -2px rgba(168,184,250,0.8)
					position: relative
					form
						display: flex
						flex-direction: column
						align-items: center
						label
							align-self: flex-start
							font:
								size: 12px
								family: $font
							color: $main-color
						input
							margin-bottom: 0px
							width: 220px
							// border-radius: 5px
							border:
								bottom: 1px solid $accent-color
								top: none
								right: none
								left: none
							&:focus
								outline: none
						button.send
							background-color: rgba(121, 121, 121, 0.8)
							margin-top: 10px
							border: none
							color: $white
							font-size: 16px
							width: 150px
							padding: 5px 0
							border-radius: 10px
							&:hover
								background-color: rgba(121, 121, 121, 1)
							&:focus
								outline: none
						button.close
							background-color: rgba(121, 121, 121, 0.8)
							border: none

							color: $white
							font-size: 16px
							padding: 3px 7px
							border-radius: 10px
							position: absolute
							top: -8px
							right: -8px
							opacity: 1
							&:hover
								background-color: rgba(121, 121, 121, 1)
							&:focus
								outline: none


	main
		.slider
			color: $white
			margin: 0
			padding: 0
			.slider-item
				text-align: center
				padding: 140px 0
				background:
					image: url('../img/back.png')
					size: cover
					position: center
					repeat: no-repeat
				h1
					font-size: 72px
					margin: 20px 0 0 0
					text-transform: uppercase
				h2
					font-size: 16px
					margin: 0
					text-transform: uppercase
			.bx-wrapper
				margin: 0
				border: none
		.main-text
			padding: 60px 0 0 0
			.head-description
				padding: 0 15px
				h2
					margin: 0
					font-size: 16px
					color: $main-text-color
					text-transform: uppercase
					line-height: 24px
				p
					font:
						size: 14px
						weight: 300
					color: $main-text-color
					margin: 40px 0
					line-height: 24px
			.geography
				padding: 0 15px
				h2
					margin: 0
					font:
						size: 20px
						weight: 500
					color: $header-color
				p
					font:
						size: 14px
						weight: 300
					margin: 20px 0 48px 0
					color: $main-text-color
					line-height: 24px
			.italic
				margin: 0 15px
				display: flex
				justify-content: space-between
				align-items: flex-start
				padding-top: 45px
				position: relative
				img
					margin: 0 30px 0 0
				p
					font:
						family: $accent-font
						size: 16px
						style: italic
					color: $main-text-color
					line-height: 30px
					margin: 0
					letter-spacing: 0.05em
				&::before
					content: ' '
					width: 100%
					height: 1px
					position: absolute
					background-color: #dddddd
					top: 0
					right: 0
			.author
				margin: 30px 15px 45px 15px
				display: flex
				justify-content: flex-end
				align-items: center
				position: relative
				p
					margin: 0 0 0 20px
					color: $accent-color
					font-size: 14px
					line-height: 24px
				&::after
					content: ' '
					width: 100%
					height: 1px
					position: absolute
					background-color: #dddddd
					bottom: -45px
					right: 0
			.islands
				padding: 50px 0 30px 0
				h2
					padding: 0 15px
					margin: 0
					font:
						size: 20px
						weight: 500
					color: $header-color
				p
					padding: 0 15px
					font:
						size: 14px
						weight: 300
					margin: 20px 0 48px 0
					color: $main-text-color
					line-height: 24px
				table
					border-bottom: 1px solid #f0f0f0
					width: 100%

					tr.top
						padding: 25px 0
						border:
							top: 1px solid #f0f0f0
							bottom: 1px solid #f0f0f0
						td
							font-size: 12px
							color: $accent-color
							padding: 25px 0
					tr.blue
						background-color: #fafbfc
					tr
						td
							padding: 20px 0
							font-size: 14px
		.posts
			padding: 70px 0 80px 0
			position: relative
			&::before
				content: ' '
				width: 100%
				height: 1px
				background-color: #f1f1f5
				position: absolute
				top: 0
			&::after
				content: ' '
				width: 100%
				height: 1px
				background-color: #f1f1f5
				position: absolute
				bottom: 0
			h1
				text-align: center
				margin: 0 0 48px 0
				text-transform: uppercase
				font-size: 24px
				color: $header-color
			.item
				margin: 20px 0
				.cont
					display: flex
					align-items: center
					box-shadow: 0px 0px 22px -2px rgba(168,184,250,0.5)
					.text
						align-self: center
						padding-left: 10px
						h4
							text-transform: uppercase
							color: #a2a2a2
							font-size: 12px
							line-height: 20px
							margin: 0
						p
							margin: 20px 0 25px 0
							font-size: 16px
							line-height: 20px
						a
							text-transform: uppercase
							font-size: 12px
							color: $header-color
							line-height: 20px
							img.arrow
								width: 11px
								height: auto
					img
						width: 185px
						height: 185px
	footer
		.bottom-info
			padding: 40px 0
			display: flex
			justify-content: space-between
			align-items: center
			.bottom-menu
				ul
					align-items: center
					a
						color: $main-color
						text-decoration: none
						text-transform: uppercase
						margin-right: 60px
						&:last-child
							margin-right: 0
						font:
							family: $font
							size: 14px
						line-height: 36px
			.social
				ul
					li
						margin-right: 16px
						&:last-child
							margin: 0
						a
							img
								width: 41px
								height: 41px
		.copy
			p
				font-size: 14px
				line-height: 36px
				color: #b5b5b5
				text-align: right



// ----------------------------------media----------------------------------//
@media screen and (min-width: 992px) and (max-width: 1199px)
	.item .cont .text a img.arrow
		width: 11px!important
		height: auto!important
	.item .cont img
		width: 140px!important
		height: 140px!important

	.text p
		font-size: 11px!important
		line-height: 20px!important
		margin: 5px 0 10px 0!important

@media screen and (max-width: 991px)
	.menu ul a
		padding-right: 30px!important
	.search a
		padding-left: 30px!important

	.bottom-menu ul a
		margin-right: 30px!important

@media screen and (min-width: 768px)
	.mob-menu
		display: none!important
	.hamburger
		display: none!important
@media screen and (max-width: 767px)
	header
		padding: 10px 0!important
	.menu
		display: none!important
	.search a
		padding-left: 15px!important

	.bottom-menu ul a
		margin-right: 5px!important
		font-size: 11px!important

	.social
		ul li a img
			width: 32px!important
			height: 32px!important

@media screen and (max-width: 520px)
	tr td
		font-size: 9px!important
		padding-left: 5px!important
	tr.top td
		font-size: 7px!important
		padding-left: 0px!important
	.item .cont .text a img.arrow
		width: 11px!important
		height: auto!important
	.item .cont img
		width: 140px!important
		height: 140px!important
	.copy p
		text-align: center!important
		font-size: 8px!important
	.text p
		font-size: 11px!important
		line-height: 20px!important
		margin: 5px 0 10px 0!important
	.posts
		padding: 30px 0!important
	.bottom-info
		flex-direction: column!important
		justify-content: center!important
		align-items: center!important
		padding: 0!important

	.bottom-menu ul a
		margin-right: 3px!important
		font-size: 10px!important
